body, html {
	margin: 0px;
	padding: 0px;
}

* {
	font-family: 'Archivo', sans-serif;
	border-radius: none;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.container>img {
	margin: 50px 10px 50px 10px;
}

#logo {
	margin-top: 10px;
	margin-bottom: 10px;
}

#menu {
	background-color: #222931;
	width: 950px;
	position: absolute;
	color: white;
	font-size: 12px; 
}

#menu>ul>li {
	display: inline-block;
	margin: 5px;
	padding: 0px 5px;
}

#yellowBar {
	width: 100vw;
	padding: 10px 0px;
	margin-bottom: 50px;
	background-color: #ffe718;
}

#yellowBar>.container>h2 {
	display: inline-block;
	width: 280px;
}

#yellowBar>.container>p {
	display: inline-block;
	width: 550px;
}

#yellowBar>.container>button {
	padding: 15px;
	color: black;
	background-color: #ffffff;
}

#yellowBar>.container>button:hover {
	background-color: black;
	color: white;
	transition: ease-in-out 0.3s;
}

a {
	color: white;
	text-decoration: none;
}

img[src="../img/header.jpg"] {
	z-index: -1;
	position: relative;
	width: 100vw;
	margin-top: 24px;
}

img[src="../img/footer.jpg"] {
	width: 100vw;
	position: absolute;
}

.footer-banner-buttons button{
    font-family: 'Archivo', sans-serif;
    background: #ffe718;
    width: 290px;
    height: 100px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

.footer-banner-buttons {
    position: relative;
    margin-top: 228px;
}

.footer-banner-buttons button {
    transition: ease-in-out .3s;
}

.footer-banner-buttons i {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 50px;
}

.footer-banner-buttons h3 {
    margin: 0px;
    margin-top: 20px;
    margin-right: 60px;
    text-align: left;
    margin-left: 80px;
}

.footer-banner-buttons h6 {
    margin-left: 0px;
    margin-bottom: 50px;
    margin-top: 0px;
    text-align: left;
    margin-left: 80px;
    font-size: 15px;
}

.footer-banner-buttons ul li{
    display: inline-block; 
}

.footer-banner-buttons ul{
    margin-top: 70px;
}

.container button:hover {
    background: #000000;
    color: #ffffff;
}

span {
    color: #ffe718;
}

.dropdownDiensten{
    display:none;
    margin: 0;
}

.nieuwbouw:hover .dropdownDiensten {
    display: block;
    position: absolute;
    color: white;
    background-color: grey;
    width: 200px;
    font-size: 10px;
    margin-left: 670px;
}

.advies:hover .dropdownDiensten {
    display: block;
    position: absolute;
    color: white;
    background-color: grey;
    width: 200px;
    font-size: 10px;
    margin-left: 355px;
}

.regelgeving:hover .dropdownDiensten {
    display: block;
    position: absolute;
    color: white;
    background-color: grey;
    width: 200px;
    font-size: 10px;
    margin-left: 25px;
}
